@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat&display=swap');
$main: "Montserrat";
$titles: "Kaushan Script";
$others: "Roboto Slab";